<style>
        * * {}

        */
        /* General */

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #e9ebee;
            font-family: 'Open Sans', 'San Francisco', sans-serif;
        }

        #app {
            width: 500px;
            background: white;
            padding-bottom: 12px;
            border: 1px solid #dddfe2;
            border-radius: 4px;
        }

        /* Header */

        #app .header {
            display: flex;
            justify-content: space-between;
            padding: 12px 12px 0;
        }

        #app .header .left-info {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #app .header .left-info .thumbnail img {
            display: block;
            /* img 預設為 inline */
            width: 40px;
            height: 40px;
            margin-right: 8px;
            border-radius: 50%;
        }

        #app .header .left-info .name-info .name a {
            font-weight: bolder;
            text-decoration: none;
            color: #365899;
        }

        #app .header .left-info .name-info .name a:hover {
            text-decoration: underline;
        }

        #app .header .left-info .name-info .time {
            color: #616770;
            font-size: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #app .header .left-info .name-info .time .global-icon {
            width: 12px;
            height: 12px;
            background-position: -28px -499px;
            background-image: url("https://weichiachang.github.io/easter-eggs-mobile/images/3o8Zo7X.png");
            background-size: 73px 540px;
            background-repeat: no-repeat;
            display: inline-block;
        }

        #app .header .right-info {
            background-image: url("https://weichiachang.github.io/easter-eggs-mobile/images/dNpCLDT.png");
            background-repeat: no-repeat;
            background-size: 500px 287px;
            background-position: -242px -245px;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        /* Content */

        #app .content {
            font-size: 20px;
            font-weight: 300;
            line-height: 20px;
            margin: 12px 12px 7px;
        }

        #app .video-link {
            text-decoration: none;
            
        }

        

        #app .description .video-wrapper {
            display: flex;
            background: #f2f3f5;
            width: 500px;
            height: 139px;
        }


        /* Feedback */

        #app .feedback-info {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #dadde1;
            margin: 10px 12px 0 12px;
            padding: 0 0 10px 0;
            color: #938FA4;
        }

        #app .feedback-info .feedback-emojis {
            min-width: 100px;
            font-size: 14px;
            display: flex;
            align-items: center;
        }

        #app .feedback-info .feedback-emojis .icons.laugh-icon {
            background-image: url("https://i.imgur.com/KNd9mL2.png");
            background-repeat: no-repeat;
            background-size: 49px 660px;
            height: 16px;
            width: 16px;
            line-height: 16px;
            margin-left: -2px;
            margin-right: 2px;
            background-position: -17px -475px;
        }

        #app .feedback-info .feedback-emojis .icons.angry-icon {
            background-image: url("https://i.imgur.com/KNd9mL2.png");
            background-repeat: no-repeat;
            background-size: 49px 660px;
            height: 16px;
            width: 16px;
            line-height: 16px;
            margin-left: -4px;
            margin-right: 2px;
            background-position: -17px -441px;
        }

        #app .feedback-info .feedback-emojis .icons.wow-icon {
            background-image: url("https://i.imgur.com/KNd9mL2.png");
            background-repeat: no-repeat;
            background-size: 49px 660px;
            height: 16px;
            width: 16px;
            line-height: 16px;
            margin-left: -4px;
            margin-right: 4px;
            background-position: 0 -543px;
        }


        #app .feedback-info .threads-and-share {
            font-size: 14px;
        }

        #app .feedback-action {
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: #606770;
            font-weight: 600;
            font-size: 14px;
            height: 32px;
            padding: 4px 12px;
        }

        #app .feedback-action div {
            cursor: pointer;
        }

        #app .feedback-action .fb-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-height: 32px;
        }

        #app .feedback-action .fb-wrapper:hover {
            background-color: rgba(29, 33, 41, 0.04);
            border-radius: 2px;
            text-decoration: none;
        }

        #app .feedback-action .fb-wrapper .fb-icon {
            width: 18px;
            height: 18px;
            display: inline-block;
            background-repeat: no-repeat;
            margin-right: 6px;
            font-size: 18px;
        }

        #app .feedback-action .fb-wrapper .fb-icon.share {
            background-image: url("https://i.imgur.com/1V94KpF.png");
            background-size: 161px 376px;
            background-position: -61px -249px;
        }

        #app .comments {
            margin: 0 12px;
            border-top: 1px solid #dadde1;
        }

        #app .comments .my-comment-wrapper {
            display: flex;
            align-items: center;
            margin-top: 12px;
        }

        #app .comments .my-comment-wrapper .my-avatar img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: block;
            margin-right: 6px;
        }

        #app .comments .my-comment-wrapper .my-comment {
            background-color: #f2f3f5;
            border: 1px solid #ccd0d5;
            border-radius: 17px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: text;
            flex: auto;
            line-height: 16px;
            padding: 7px 12px;
        }

        #app .my-comment-wrapper .my-comment .my-comment-placeholder input[type=text] {
            width: 410px;
            outline: none;
            border: 0 solid transparent;
            background: transparent;
        }

        #app .comments .people-comment-wrapper {
            display: flex;
            align-items: flex-start;
            margin-top: 10px;
        }

        #app .comments .people-comment-wrapper .people-avatar img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: block;
            margin-right: 6px;
        }

        #app .comments .people-comment-wrapper .people-comment {
            background: #f2f3f5;
            border-radius: 18px;
            color: #1c1e21;
            line-height: 16px;
            padding: 8px 12px;
            position: relative;
        }

        #app .people-comment-wrapper .people-comment .people-comment-container {
            color: #1c1e21;
            font-size: 14px;
            display: flex;
            flex-direction: column;
        }

        #app .people-comment-wrapper .people-comment .people-comment-container .people-name {
            font-weight: 600;
            margin-right: 4px;
        }

        #app .people-comment-wrapper .people-comment .people-comment-container .people-name a {
            text-decoration: none;
            color: #365899;
        }

        #app .people-comment-wrapper .people-comment .people-comment-container .people-name:hover {
            text-decoration: underline;
        }

        #app .people-comment-wrapper .people-comment .people-comment-container .people-name .blue-check {
            margin-left: 4px;
            background-image: url("https://i.imgur.com/xgnUC5P.png");
            background-repeat: no-repeat;
            background-size: 28px 195px;
            background-position: 0 -165px;
            height: 15px;
            vertical-align: -2px;
            width: 15px;
            display: inline-block;
        }

        #app .people-comment-wrapper .people-comment .people-comment-container .people-sharing img {
            width: 350px;
        }

        #app .people-comment-wrapper .people-comment .comment-reactions {
            position: absolute;
            bottom: 4px;
            right: -25px;
            z-index: 9999;
            display: flex;
            align-items: center;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
            color: #8d949e;
            font-size: 12px;
            padding: 2px 1px 2px 4px;
        }

        #app .people-comment-wrapper .people-comment .comment-reactions .icons.like-icon {
            background: #fff;
            border-radius: 12px;
            box-shadow: 2px 0 white;
            overflow: hidden;
            background-image: url("https://i.imgur.com/KNd9mL2.png");
            background-repeat: no-repeat;
            background-size: 49px 660px;
            background-position: 0 -526px;
            cursor: pointer;
            height: 16px;
            width: 16px;
            line-height: 16px;
            display: inline-block;
            margin-left: -2px;
            margin-right: 2px;
        }

        #app .people-comment-wrapper .people-comment .comment-reactions .number {
            padding: 0 3px 0 2px;
        }

        #app .like-and-response-wrapper {
            display: flex;
            color: #90949c;
            font-size: 13px;
            line-height: 13px;
            margin: 5px 0 0 50px;
        }

        #app .like-and-response-wrapper .tiny-dot {
            margin-left: -2px;
            margin-right: 2px;
            color: #8d949e;
        }

        #app .like-and-response-wrapper .like-comment {
            color: #365899;
            cursor: pointer;
        }
    </style>